.block {
    border: 1px solid #cccccc7a;
    max-width: 700px;
    margin-bottom: 10px;
}
.block:hover {
    border: 1px solid #f60;
}
.title {
    color: #1f1f1f;
    font-size: 1.2em;
    padding: 15px 10px;
    font-weight: 600;
    background-color: #f7f7f7;
    border-bottom: 1px solid #cccccc7a;
    cursor: pointer;
}
.content {
    color: rgba(31,31,31,.8);
    font-size: 0.9em;
    padding: 10px;
    display: none;
}
.active {
    display: block;
}